#border{
    border: 1px solid rgb(205, 195, 195);
    background-color: rgb(249, 243, 243);
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
}

.alert{
    margin-top: 30px;
}
#text{
    margin: 25px 0px;
}

.list{
    color: blue;
}

