body {
    margin: auto 0;
    background-color: #d4c3bb !important;
}

/* navbar */

.navbar {
    padding: 0px !important;
    position: fixed !important;
    width: 100%;
    z-index: 1;
}

.container-fluid {
    background-color: #6f5d55;
}

.navbar-brand {
    color: #ebe0dc !important;
}

#image {
    padding: 5px 10px;
}

.nav-link {
    color: #ebe0dc !important;
}

/* welcome part */

#hero-image {
    background-position: unset;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.container-image {
    position: relative;
    text-align: center;
}

/* #welcome {
    position: relative;
    top: 10px;
    left: 16px;
} */

.tittle {
    font-family: 'DM Serif Display', serif;
}

.image-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #6f5d55;
}

.big-container {
    display: grid;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: 1fr 2fr 2fr;
    padding: 0px 50px 50px 50px;
    gap: 50px;
}

/* about */

#women {
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    margin-left: 100px;
}
.about {
    grid-column: 2/ span 2;
    grid-row: 1/ span 1;
    color: #6f5d55;
    width: 670px;
}

#line{
    border: 1px solid #6f5d55;
    background-color: #6f5d55;
    width: 100%;
}

/* skills */

.container-skills {
    grid-column: 1/ span 3;
    grid-row: 2/ span 1;
    color: #6f5d55;
    text-align: center;
    margin: 30px 0px;
}

h4{
    text-decoration: underline;
    padding-bottom: 30px;
}

#html, #css, #js, #react, #python, #git, #github{
    border: 1px solid #ebe0dc;
    background-color: #ebe0dc;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 10px;
}

/* project */

#myp{
    grid-row: 3/ span 1;
    grid-column: 1/ span 3;
    text-align: center;
    color: #6f5d55;
}

#card-1 {
    grid-row: 4/ span 1;
    grid-column: 1/ span 1;
}

#card-2 {
    grid-row: 4/ span 1;
    grid-column: 2/ span 1;
    margin-left: 30px;
}

#card-3 {
    grid-row: 4/ span 1;
    grid-column: 3/ span 1;
}

.flip-card {
    background-color: transparent;
    width: 320px;
    height: 210px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.3s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: #ebe0dc;
    color: #6f5d55;
    transform: rotateY(180deg);
}

.flip-card-front {
    border: 1px solid #ebe0dc;
    background-color: #ebe0dc;
    color: #6f5d55;
}


#bottom-project {
    grid-row: 5/ span 3;
    grid-column: 1/ span 3;
    width: 968px;
    margin-top: 40px;
    margin-left: 100px;
    color: #6f5d55;
    text-align: center;
    border: 8px solid #ebe0dc;
    background-color: #ebe0dc;

}

/* form */

.container-form {
    grid-row: 8/ span 3;
    grid-column: 2/ span 1;
    align-items: center;
    border: 1px solid #ebe0dc;
    background-color: #ebe0dc;
    border-radius: 5px;
    padding: 20px;
    width: 375px;
}

#email,
#name,
#message {
    width: 335px;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #d4c3bb;
    background-color: #d4c3bb;
}

::placeholder {
    color: #6f5d55;
}

textarea {
    color: #6f5d55;
}

.checkbox {
    display: inline-block;
}

#anonymous {
    color: #6f5d55;
}


input[type="checkbox"] {
    filter: invert(10%) hue-rotate(18deg) brightness(1.7);
}


#login {
    width: 335px;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #6f5d55;
    background-color: #6f5d55;
    color: #ebe0dc;
}

#connect {
    display: flex;
    align-items: center;
    color: #6f5d55;
    margin-top: 10px;
}

#left {
    border: 1px solid #6f5d55;
    width: 100px;
    height: 1px;
    margin-left: 33px;
}

#right {
    border: 1px solid #6f5d55;
    width: 100px;
    height: 1px;
}

.fa-brands {
    color: #6f5d55;
    font-size: 3em;
    padding: 20px;
    margin-left: 5px;
}

/* 
.fa-facebook-f {
    margin-left: 35px;
    margin-right: 20px;
}

.fa-twitter {
    margin-left: 20px;
    margin-right: 20px;
}

.fa-github {
    margin-left: 20px;
    margin-right: 40px;
} */

#copy {
    color: #6f5d55;
    font-size: 70%;
    text-align: center;
}